body {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    display: block;
}

.bgBanner02 {
    background:#e28383 ;
    height: 785px;
    background-size: cover;
}

div, span, p, input, textarea, button, label {
    font-size: 22px;
}

div, span, p, input, textarea, button, label {
    font-size: 28px;
    font-weight: 300;
}

div, span, p, h1, h2, h3, h4, input, textarea, button, label {
    font-family: 'Open Sans',sans-serif;
    color: #222;
}

div {
    display: block;
}

.wrapper0, .wrapper1, .wrapper4 {
    margin-left: 40px;
    margin-right: 40px;
}

.wrapper0, .wrapper1, .wrapper4 {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    padding: 65px 20px 0 55px;
    float: left;
    background:#e28383 left 65px no-repeat;
    text-decoration: none;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.center {
    text-align: center;
}

.white {
    color: #fff;
}

h1 {
    font-size: 80px;
    font-weight: 400;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.h1IndexTagline {
    font-size: 42px;
    font-weight: 300;
    margin-top: -30px;
}

.buttonDownload {
    background: #3498db;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 43px;
    text-decoration: none;
}

.winCompatible {
    font-size: 18px;
    color: #fff;
    background: url(../images/win10.png) 0 0 no-repeat;
    display: inline-block;
    padding: 2px 0 2px 35px;
    margin-top: 20px;
}

.eula_link {
    font-size: 14px;
    color: #fff;
    display: inline-block;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.eula_link a {
    color: #fff;
}
