body {
    background: #111111;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    display: block;
}

.bgBanner02 {
    background:url(../images/1624728626_preview.jpg) ;
    height: 950px;
    background-size: cover;
}

div, span, p, input, textarea, button, label {
    font-size: 22px;
}

div, span, p, input, textarea, button, label {
    font-size: 28px;
    font-weight: 300;
}

div, span, p, h1, h2, h3, h4, input, textarea, button, label {
    font-family: 'Open Sans',sans-serif;
    color: #222;
}

div {
    display: block;
}

.wrapper0, .wrapper1, .wrapper4 {
    margin-left: 40px;
    margin-right: 40px;
}

.wrapper0, .wrapper1, .wrapper4 {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    padding: 65px 20px 0 55px;
    float: left;
/* background */
    text-decoration: none;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.center {
    text-align: center;
}

.white {
    color: #fff;
}

h1 {
    font-size: 80px;
    font-weight: 400;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    font-size: 60px;
    font-weight: 300;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    font-size: 36px;
    font-weight: 400;
    color: #3498db;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h5 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 7px;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.h1IndexTagline {
    font-size: 42px;
    font-weight: 300;
    margin-top: -30px;
}

.btn {
    padding: 15px 40px;
    border-radius: 43px;
    background: #00BFFF;
    border: 0;
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    --size: 0px;
    text-decoration: none;
    display: inline-block;
}
.btn b{
    position: relative;
    z-index: 10;
}

.btn::after, .btn::before {
    content: '';
    display: block;
    position: absolute;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    left: calc(50% - var(--size) / 2);
    top: calc(50% - var(--size) / 2);
    transition: all 0.5s ease;
}

.btn:hover{
    --size: 400px;
}

.btn::after {
    background:#0281ac;
}

.btn2 {
    padding: 15px 40px;
    border-radius: 43px;
    background: #1A1A1A;
    border: 0;
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    --size: 0px;
    text-decoration: none;
    display: inline-block;
}
.btn b2{
    position: relative;
    z-index: 10;
}

.btn::after, .btn::before {
    content: '';
    display: block;
    position: absolute;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    left: calc(50% - var(--size) / 2);
    top: calc(50% - var(--size) / 2);
    transition: all 0.5s ease;
}

.btn:hover{
    --size: 400px;
}

.btn::after {
    background:#262626;
}
/* button knopka */

.winCompatible {
    font-size: 18px;
    color: #fff;
    background: url(../images/linux_PNG53x.png) 0 0 no-repeat;
    display: inline-block;
    padding: 1px 0 2px 30px;
    margin-top: 20px;
}

.eula_link {
    font-size: 14px;
    color: #fff;
    display: inline-block;
}
/* fix linkov */

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.eula_link a {
    color: #fff;
}

.bgWhite {
    background: #fff;
}
/* background 2  */

.bgDarkGrey {
    background: #111;
}

.wrapper1 {
    padding: 10px 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.section-container.dark-gray {
    background: #111;
}

.section-container {
    padding: 70px 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero-container {
    margin: 40px auto;
}

.hero-container .hero-heading {
    max-width: 580px;
    margin: 0 auto;
    text-align: center!important;
}

.body-xl {
    font-size: 56px;
    font-weight: 600;
    line-height: 1.1em;
    letter-spacing: -.02em;
}

.type-heading-light {
    color: #eee;
}

.hero-container .hero-body {
    text-align: center;
    max-width: 630px;
    margin: 40px auto 0;
    line-height: 1.48;
}

.body-m {
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: .001em;
}

.type-body-light {
    color: #fff;
}

p {
    margin-bottom: 1.7em;
}

.break {
    display: block;
    width: 100%;
    height: 1px;
    margin: 50px auto;
}

.tiles-container.single {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 16px;
}

.tiles-container {
    max-width: 720px;
    margin: 0 auto 16px auto;
}

.tile.dark, .tile.tile-shelf {
    background: #1a1a1a;
}

.tile {
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    position: relative;
}

.tile .tile-body h5 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 7px;
}

.tile .tile-body {
    padding: 34px;
    position: relative;
}

article h1, h2, h3, h4, h5, h6 {
    color: #000;
    line-height: 1.2em;
    margin-bottom: 0.2em;
    max-width: 600px;
    margin: 0 auto;
}

.tile-shelf .tile-body {
    max-width: 40%;
}


h5 {
    color: #000;
    line-height: 1.2em;
    margin-bottom: 0.2em;
    max-width: 600px;
    margin: 0 auto;
    background:url(../images/backgroudtext.png) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: gradient;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes gradient {
    0%{
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.tile .tile-body p {
    letter-spacing: 0;
}

.body-s, article ol li, article p, article ul li {
    font-size: 16px;
    line-height: 1.45;
    letter-spacing: .001em;
}

/* Сюда гифка */
.tile-shelf {
    background-size: 490px 399px!important;
    background-position: top right!important;
    background-repeat: no-repeat!important;
    min-height: 300px;
}
/* Сюда гифка */

.tiles-container.two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    align-items: top;
}

p:last-child {
    margin-bottom: 0;
}

.tile .tile-footer.tile-footer-padding {
    padding: 0 34px 34px 34px;
}

.tile .tile-footer {
    display: block;
    width: 100%;
}

.tile .tile-footer img {
    display: block;
    max-width: 100%;
}

.tile .tile-footer img.rounded {
    border-radius: 8px;
}

.content, .worpper > *{
    will-change: transform;
}

